.box{
    display:flex;
    border: 0px solid black;
    margin: 0px;
    padding: 2px;
    max-width: 1px;
}
.container{
    display:flex;
    border: 1px solid black;
    
}
.column {
    display:block;
}
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}