.box{
    display:flex;
    border: 2px solid black;
    margin: 1px;
    padding: 10px;
    max-width: 1px;
}
.container{
    display:flex;
    justify-content: center;
}
.column {
    display:block;
}